In [1]:
import pandas as pd

pd.DataFrame([1, 2, 3])

   0
0  1
1  2
2  3

In [4]:
pd.json_normalize([1, 2, 3])

pandas.core.frame.DataFrame

In [7]:
import pandas as pd

pd.json_normalize(
    [
        {
            "name": "John",
            "age": 30,
            "city": "New York",
        },
        {
            "name": "Jane",
            "age": 25,
            "city": "Los Angeles",
        },
    ]
).to_json(orient="records", lines=True, date_format="iso")

'{"name":"John","age":30,"city":"New York"}\n{"name":"Jane","age":25,"city":"Los Angeles"}\n'